faster-whisper>=1.1.0
sounddevice
numpy
keyboard
pyperclip
pystray
pillow
nvidia-cublas-cu12
nvidia-cudnn-cu12
pycaw
psutil
comtypes
customtkinter
winrt-runtime
winrt-Windows.Media.Control
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
